@font-face{
    font-family: "cute Font";
    src: url(CuteFont-Regular.otf)
}

body{
    background-color: pink;
}
.border{
    padding: 50px;
}

.photo{
    text-align: center;
}

/* .photo img {
    height: 300px;
    width: auto;
    border: 5px solid white;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
} */
